<!DOCTYPE html>
<html lang="en">
<title>RoguePsych - Create An Account</title> 
<header> <h1>Join The Party</h1></header>
<body> 
    <form enctype="multipart/form-data">
    <label for="names">First Name:</label> <br>
    <input type="text" id="name" name="name" value="First Name"> <br>
    <label for="emails">Email address:</label> <br>
    <input type="text" id="email" name="email" value="Email address here"> <br>
    <input type="submit" formmethod="post" id="submit-button" value="Submit">
    </form>
    
</body>



</html>